.card {
  padding: 3% 6%;

  background-color: #fff;
  border-radius: 2px;

  &__heading {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  &__heading h3{
    width: calc(100% - 45px);
    margin-right: 10px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 35px;

    & img {
      cursor: pointer;
      height: 15px;
    }
  }

  &__description {
    margin: 10px 0 20px 0;
  }
}
