.card {
  padding: 3% 6%;

  background-color: #fff;
  border-radius: 2px;

  overflow-wrap: break-word;
  text-overflow: ellipsis;

  cursor: pointer;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    max-height: 50px;
  }

  &__heading h3 {
    height: 100%;
    width: calc(100% - 45px);
    margin-right: 10px;

    text-overflow: ellipsis;
    overflow-wrap: break-word;

    overflow: hidden;
    white-space: nowrap;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 35px;

    & img {
      cursor: pointer;
      height: 15px;
    }
  }

  &__description {
    margin: 10px 0 20px 0;

    text-overflow: ellipsis;
    overflow-wrap: break-word;

    overflow: hidden;
    white-space: nowrap;
  }
}
