.log-message {
    display: none;
    position: absolute;
    z-index: 9999;

    width: 100%;
    height: 100%;

    top: 0%;
    left: 0%;
    
    &__text-wrap {
        display: none;
        position: sticky;

        max-width: 90%;
        
        margin-bottom: .5rem;
        padding: 1rem;
        
        border-radius: 1rem;

        transform: translateY(.5rem);

        font-size: 1rem;

        @media only screen and (min-width: 700px) {
            font-size: 1em;
        }
    }

    &__text-wrap:last-child {
        margin-bottom: 0;
    }

    &_show {
        display: flex;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        background-color: rgba(0, 0, 0, .66);
    }
    
    &_show &__text-wrap {
        display: flex;
        
        justify-content: center;
        text-align: center;
    }

    &__text {
        max-width: 100%;

        overflow: hidden;
    }

    &__text::-webkit-scrollbar-track {
        border-radius: 5px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

    &_type-default {
        background-color: #F7F6F1;;
        color: black;
    }

    &_type-error {
        background-color: crimson;
        color: white;
    }

    &_type-warning {
        background-color: orange;
        color: black;
    }

    &_type-info {
        background-color: ghostwhite;
        color: black;
    }
}
