.swal2 {
  &-popup {
    font-size: 1em !important;
    color: black !important;
    background-color: #F7F6F1 !important;
    border-radius: 0 !important;
  }

  &-confirm, &-cancel {
    font-size: 1.1em !important;
    font-weight: 500 !important;

    padding: 1.7% 7% !important;

    color: #677767 !important;
    background-color: transparent !important;

    border-radius: 2px !important;
    border: 2px solid #677767 !important;

    transition: .5s !important;

    &:hover,
    &:active,
    &:focus {
      box-shadow: none !important;
      outline: none !important;

      color: #fff !important;
      background-color: #677767 !important;
    }
  }

  &-input {
    line-height: 1.5 !important;

    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;

    font-size: 1.5em !important;
  }

  &-input:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
  }

  &-active-progress-step {
    background-color: #677767 !important;
  }
}

.swal2-progress-steps .swal2-progress-step,
.swal2-progress-steps .swal2-progress-step-line {
  background-color: #677767 !important;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line,
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step {
  background: rgba(0, 0, 0, 0.2) !important;
}
